/* ====
fonts
==== */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
  --clr-primary-1: aliceblue;
  --clr-primary-2: #6992ed;
  --clr-primary-3: rgb(69, 201, 91);
  --clr-grey-light: rgb(141, 127, 127);
  --clr-grey-dark: rgb(114, 107, 107);
  --clr-orange-lightless: rgb(252, 170, 116);
  --clr-orange-lightmore: rgb(255, 139, 62);
  --clr-orange-dark: rgb(224, 117, 46);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Quicksand', sans-serif;
  background: var(--clr-primary-2);
  color: var(--clr-primary-1);
  line-height: 1.5;
  font-size: 3em;
}
h3 {
  position: relative;
  letter-spacing: 0.25rem;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
@media screen and (max-width: 800px){
  .todolist-item {
    height: 2.7rem;
  }
  .todolist-item .title { 
    font-size: 0.8rem ;
    letter-spacing: 1px;
  } 
  
}
.container {
  width: 90vw;
  margin: 0 auto;
  max-width: 35rem;
  margin-top: 8rem;
}
input {
  float: left;
  padding: 0.45rem;
  padding-left: 1rem;
  font-size: 1rem;
  width: calc(100% - 50px);
  height: 41px;
  text-decoration: none;
  border: 1px solid var(--clr-primary-3) ;
  border-radius: 5px;
   
}
input:focus, .add-btn:focus {
  outline: none;
}
.add-btn:hover {
  color: rgba(255, 255, 255, 1);
  background:  #c487e2;
}
.add-btn:hover, .edit-btn:hover, .delete-btn:hover, .clear-btn:hover {
  transition: all 0.3s linear;
}
#toDo::placeholder {
  font-family: 'Quicksand', sans-serif;
  color:var(--clr-grey-light);
  background: transparent; 
}
.input {
  font-family: 'Quicksand', sans-serif;
  color:var(--clr-grey-light);
  word-break: break-all;
}
.add-btn {
  text-transform: inherit;
  font-size: 1.15rem;
  flex: 0 0 5rem;
  display: grid;
  align-items: center;
  padding: 0.25rem;
  letter-spacing: 0.15rem;
  width: 50px;
  height: 40px;
  text-decoration: none;
  border-radius: 5px;
  font-family: 'Quicksand',sans-serif;
  background: #c08dda;
  border-color: transparent;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  color: rgb(240, 243, 247);
  cursor: pointer;
}
.toDoList-container {
  margin-top: 0.75rem;
  transition: all 0.3s linear;
  visibility: hidden;
}
.show-container {
  visibility: visible;
}
.todolist-item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  transition: all 0.3s linear;
  padding-top: 1rem;
  padding: 0.75rem;
  border-radius: 5px;
  background: var(--clr-primary-1);
}

.todolist-item:hover .title {
  color: var(--clr-grey-dark);
}
.title {
  margin-bottom: 0;
  color: var(--clr-grey-dark);
  letter-spacing: 2px;
  font-size: 1.2rem;
}
.btn {
  display: inline-block;
  background: transparent;
  padding: 0.375rem 0.75rem;
}
.btn-container{
  display: flex;
  flex-direction: row;
}
.form-control {
  display: flex;
  justify-content: center;
}
.edit-btn, .delete-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 0.7rem;
  margin: 0 0.15rem;
  float: left;
}
.edit-btn:focus, .delete-btn:focus {
  outline: none;
}
.edit-btn {
  color: rgb(123, 206, 123);
} 
.edit-btn:hover {
  color: rgb(86, 182, 86);
}

 .delete-btn {
  color: var(--clr-orange-lightmore); 
} 
.delete-btn:hover {
  color: var(--clr-orange-dark);
}

.clear-btn {
  text-transform: capitalize;
  width: 100%;
  height: 1.5rem;
  font-family: 'Quicksand', sans-serif;
  background: transparent;
  border: none;
  font-size: 1.3rem;
  letter-spacing: 0.15rem;
  cursor: pointer;
  color: var(--clr-primary-1);
  margin-top: 1.25rem;
}
.clear-btn:hover {
  color:  var(--clr-orange-lightless);
}
.clear-btn:focus{
  outline: none;
}


